
<div class="searchbar d-flex justify-content-center p-5" style="background-color: #eae5e1;">
  <div class="text-muted mt-2 mr-3">
    <i class="fas fa-search"></i>
  </div>
  <div class="text-muted" style="width: 270px;">
    <%= form_tag articles_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-plaintext",
        placeholder: "Which article are you searching for?"
      %>
    </div>
    <div class="ml-3">
      <%= submit_tag "Search", class: "button-black" %>
      <% end %>
  </div>
</div>

<div class="archive_card mt-3">
    <% @articles.each do |article| %>
    <p class="card-text">
      <div class="folder-card-text">
        <div class="folder_card_container_archive">
          <div class="folder_card_top">
            <%= link_to article.title, article.url, target: :_blank %><br>
              <span id="article_notes"><%= article.note %></span>
          </div>
            <div class="folder_card_bottom">
              <div class="folder_card_bottom_left">
                <i class="far fa-bell"></i> <%= article.reminder&.strftime("%d.%m.%Y, %H:%M") %>
              </div>
              <div class="folder_card_bottom_right">
                <%= article.importance %> <i class="far fa-star"></i><br>

                <% if article.status == "to_read" %>
                  <%= link_to "To read", mark_as_done_path(article) %>
                <% elsif article.status == "missed"%>
                  <%= link_to "Missed", mark_as_done_path(article) %>
                <% elsif article.status == "done"%>
                  <%= link_to "Done", mark_as_done_path(article) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </p>
    <%end%>
</div>

