<div class="mx-5">
  <h1>Create a new article</h1>
  <%= simple_form_for @article do |f| %>
    <%#= f.input :folder %>
    <%= f.input :url %>
    <%= f.input :title %>
    <%= f.input :importance %>
    <%= f.input :reminder %>
    <%= f.input :note %>
    <%= f.button :submit, class: "button-black" %>
  <% end %>
</div>
