<div class="card1 w-100 p-3 mr-1">
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
      <% @articles.first(3).each do |article| %>
        <p class="card-text">
          <div class="folder-card-text">
            <div class="folder_card_container">
              <div class="folder_card_top">
                  <%= link_to article.title, article.url, target: :_blank %><br>
                <span id="article_notes"><%= article.note %></span>
              </div>
              </div>
            </div>
          </div>
        <div class="w-100 d-flex">
          <div><h6><%=article.title%></h6></div>
          <div><h6><%=article.note %></h6></div>
            <% if article.reminder %>
              <div><h6><%=article.reminder.strftime("%A") %></h6></div>
            <% end %>
          <div><h6><%=article.importance %><i class="far fa-star"></i></h6></div>
        </div>
      <%end%>
  </div>
</div>
