<div class="card1 w-50 ml-3">
  <div class="card-body">
    <h5 class="card-title"><%= title %> (<%= @missed_article.count %>)</h5>
      <% @missed_article.first(3).each do |article| %>
        <p class="card-text">
          <div class="folder-card-text">
            <div class="folder_card_container">
              <div class="folder_card_top">
                <span class="card_emoticon_push"><%= link_to article.title, article.url, target: :_blank %> <i class="fab fa-hotjar"></i></span>
                <span id="article_notes"><%= article.note %></span>
              </div>
              <div class="folder_card_bottom">
                <div class="folder_card_bottom_left">
                <i class="far fa-bell"></i> <%= article.reminder.strftime("%A %H:%M") %> -

                <% if article.status == "to_read" %>
                  <%= "To read" %>
                <% elsif article.status == "missed"%>
                  <%= "Missed" %>
                <% elsif article.status == "done"%>
                  <%= "Done" %>
                <% end %>

                </div>
                <div class="folder_card_bottom_right">
                <%= article.importance %> <i class="far fa-star"></i><br>

                  <% if article.status == "to_read" %>
                    <%= link_to "Mark as read", mark_as_done_path(article) %>
                  <% elsif article.status == "missed"%>
                    <%= link_to "Mark as read", mark_as_done_path(article) %>
                  <% elsif article.status == "done"%>
                    <%= link_to "Done", mark_as_done_path(article) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </p>
      <%end%>
  </div>
</div>
