<div class="card">
  <%= image_tag folder_picture, class:"card-img-top card_border", alt: "Folder picture" %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
      <% articles.each do |article| %>
        <p class="card-text">
          <div class="folder-card-text">

            <div class="folder_card_container">
              <div class="folder_card_top">
                <%= link_to article.title, article.url, target: :_blank %><br>
                <span id="article_notes"><%= article.note %></span>
              </div>
              <div class="folder_card_bottom">
                <div class="folder_card_bottom_left">
                <i class="far fa-bell"></i> <%= article.reminder.strftime("%d.%m.%Y, %H:%M") %>
                </div>
                <div class="folder_card_bottom_right">
                <%= article.importance %> <i class="far fa-star"></i><br>

                  <% if article.status == "to_read" %>
                    <%= link_to "To read", mark_as_done_path(article) %>
                  <% elsif article.status == "missed"%>
                    <%= link_to "Missed", mark_as_done_path(article) %>
                  <% elsif article.status == "done"%>
                    <%= link_to "Done", mark_as_done_path(article) %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </p>
      <%end%>

  </div>

  <div class="card-footer d-flex justify-content-between">
      <div>
        <i class="fas fa-share"></i><%= link_to " Share", new_article_path %>
      </div>
      <div>
        <a href="/articles/new" data-toggle="modal" data-target="#exampleModal"
          <i class="fas fa-plus-circle"></i>
        </a>
        <a href="/articles/new" data-toggle="modal" data-target="#exampleModal">Add article</a>
      </div>
  </div>
</div>
<%= render partial: "new_article_form_modal", locals: {article: @article} %>
<a href=""></a>


