<div class="card">
  <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
    <div class="text-center">
      <h5><%= title %></h5>
    </div>
  <div class="card-body d-flex">
    <div>
      <ul>
        <li><%= reminder %></li>
        <li><%= reminder %></li>
        <li><%= reminder %></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><%= article_title %> </li>
        <li><%= article_title %> </li>
        <li><%= article_title %> </li>
      </ul>
    </div>
    <div>
      <ul>
        <li><%= folder_title %> </li>
        <li><%= folder_title %> </li>
        <li><%= folder_title %> </li>
      </ul>
    </div>
  </div>
</div>
