<div class="modal fade" id="article-modal-<%= folder_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="m-3">
            <%= simple_form_for @article do |f| %>
              <%#= f.input :folder %>
              <%= f.input :url %>
              <%= f.input :title %>
              <%= f.input :importance, collection: (1..5).to_a, label: "Importance", input_html: {class: "article_importance_input"} %>
              <%= f.input :reminder, as: :string, required: false, input_html: {class: "datepicker"}  %>
              <%= f.input :note %>
              <%= hidden_field_tag :folder_id, folder_id %>
              <br>
              <%= f.button :submit, "Create article", class: "button-black" %>
              <button type="button" class="button-ghost" data-dismiss="modal">Close</button>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>


