<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card-top">
  <%= render partial: "shared/topcard_dashboard", locals: {title: "Neuroscience", text: "Neuroscience, also known as Neural Science, is the study of how the nervous system develops, its structure, and what it does. Neuroscientists focus on the brain and its impact on behavior and cognitive functions."} %>
</div>

<div class=bottom-part-dash>

  <div class="card-deck">
    <%= render partial: "shared/dashboard_card", locals: {title: "Neuroscience", text: "Neuroscience, also known as Neural Science, is the study of how the nervous system develops, its structure, and what it does. Neuroscientists focus on the brain and its impact on behavior and cognitive functions."} %>
      <%= render partial: "shared/dashboard_card", locals: {title: "Tennis", text: "Tennis is a recreational and competitive game played in singles and doubles formats. Singles is the most commonly recognised way of playing tennis, with two players competing against each other. It can be played as an informal game or as a competitive, scored match."} %>
    <%= render partial: "shared/dashboard_card", locals: {title: "Diving", text: "Diving, sport of plunging into water, usually head foremost, performed with the addition of gymnastic and acrobatic stunts. ... In its more elaborate, acrobatic form, diving originated in Europe early in the 19th century as a diversion of gymnasts and as a competitive sport in the late 19th century."} %>
  </div>

  <div class="dashboard-button">
    <%= render partial: "shared/dashboard_button", locals: {title: "Search for article", buttontype: "button-black" } %>
    <%= render partial: "shared/dashboard_button", locals: {title: "Add article", buttontype: "button-black"} %>
    <%= render partial: "shared/dashboard_button", locals: {title: "Add connection", buttontype: "button-ghost"} %>
    <%= render partial: "shared/dashboard_button", locals: {title: "Add folder", buttontype: "button-ghost"} %>
  </div>

</div>
<%= link_to "Create an article", new_article_path %>


